@import "../styles/global";
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $footerHeight;
  background-color: $white;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
