@import "../styles/global";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $headerHeight;
  background-color: $white;
  z-index: 1000;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
