@import "../styles/global";
@import "../styles/reset";
@import "../styles/typography";
@import "../styles/links";
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: $black;
  background-color: lighten($color: $black, $amount: 77);
  padding-top: $headerHeight + $freeSpace;
}

#__next {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex; // flex-direction: column;
  flex-grow: 1;
  .content {
    flex-grow: 3;
    margin-right: $freeSpace;
    margin-bottom: $freeSpace;
  }
  .sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .box {
      background-color: $white;
      padding: $freeSpace;
      margin-bottom: $freeSpace;
      min-height: 100px;
      border: 1px solid lighten($black, 77);
    }
  }
}
