@import "../styles/global";
.index {
    display: flex;
    flex-direction: column;
    .post {
        background-color: $white;
        padding: $freeSpace;
        margin-bottom: $freeSpace;
        min-height: 120px;
        border: 1px solid lighten($black, 77);
    }
}